#slide_container{
    /* border: 1px solid black; */
    height: 530px;
    padding-top:30;
    border-bottom: 1px solid  rgb(227, 223, 223);
}

.image{
    width: 300px;
    /* border: 1px solid black; */
    height: 400px;
}
.image>img{
    margin-left:5;
    width: 95%;
    height: 38%;
    border-bottom: 7px solid #037362FF;
    margin-top: 15;
}
#vesta{
font-size: 18px;
margin-left: 5;
margin-top: 10;
}
#silk{
font-size: 14px;
margin-left: 5;
margin-top: 30;
}
#by{
font-size: 13px;
margin-left: 5;
margin-top: 30;
}

#swip{
/* border: 1px solid black; */
width: 150px;
height: 40px;
position: relative;
bottom: 117%;
left: 85%;
margin-bottom: 100px;
}
#swip>.swiper-button-next .swiper-button-prev{
border: 1px solid black;
width: 50%;
height: 10%

}

.swiper-button-next ,.swiper-button-prev{
/* border: 1px solid black; */
width: 40px;
border-radius: 50%;

}

.swiper-button-next:hover{
border: 1px solid blue;
width: 40px;
border-radius: 50%;
}

.swiper-button-prev:hover{
border: 1px solid blue;
width: 40px;
border-radius: 50%;

}

section{
width: 90%;
height: 75%;
margin: auto;
/* border: 1px solid black; */
} 
#fresh{
font-family: 'Poppins', sans-serif;
font-size: 18px;
position: relative;
top: -10;
left: 10;    
}
#disc{
font-family: 'Poppins', sans-serif;
font-size: 16px;
color: blue;
margin-left: 220;
position: relative;
bottom: 50;
}
