
#header{
    width: 90%;
    margin: auto;
}
#container{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    width: 90%;
    gap: 40px;
    margin: auto;
}

main{


margin:  auto;
overflow: hidden;
position: relative;
}

span{
position: absolute;
top: 0%;
font-size: 30px;

color: black;
cursor: pointer;
left: .5%;
z-index: 1;
}
span:nth-child(1){
left: 91%;
text-align: right;
}
span:nth-child(2){
left: 95%;
text-align: right;
}
section{
width: 100%;
background: white;
margin: 10px auto;
display: flex;
justify-content: left;
overflow-x: auto;

}
section::-webkit-scrollbar{
visibility: hidden;

}
section>div{
min-width: 320px;
position: relative;
left: 0px;
padding-top: 60px;


}
section>div>h1{
width:300px;   
}
section>div>p{
width:300px;  
}
section>div>img{
width:305px;
height:150px;
}
.crousel{
width: 90%;
margin: auto;
}

#container>div>img{
/* width:450px;
height: 232px; */
width: 100%;
height: 394px;
}

#cont>div{
display: flex;
margin-bottom: 30px;
}
#cont>div>div>img{
width: 160px;
height: 90px;
}
#cont>div>div>h4{
margin-top: 0px;
}
#cont>div>div>p{
margin-top: -15px;
}
#cont>div>div:nth-child(2){
margin-left: 20px;
}
#button>button{
border: none;
color: blue;
background-color: white;
}
#button>button:nth-child(1){
margin-left: 85%;
}
#container2{
text-align: center;
}
#container2>input{
padding: 15px;
width: 478px;
height: 15px;      
}

#container2>button{
padding: 13.5px 18.5px;
background-color: #464646;
color: white;
}
#container2>button:hover{
background-color:black
}
#container3{
width: 90%;
margin: auto;
}
#container3>#box1{
margin-top: 20px;
display: grid;
grid-template-columns: repeat(2,1fr);
gap: 40px;
}
#container3>#box1>div>div>img{
width: 100%;
height: 200px;
}
#childcontainer3{
border-left: 6px solid green;
padding-left: 10px;
}
.crousel>div{
display: flex;

}
.crousel>div>a{
margin-top: 20px;
margin-left: 20px;
}
.crousel>div>h3{
margin-top: 20px;
margin-left: 20px;
}
i{
margin-left:10px;
margin-top: -40px;
}
/* #container{
display: flex;
width: 90%;
margin: auto;
}
#buttons{
width: 140px;
} */

/* explore */
/* 
filter */

#carier{
display: flex;
width: 90%;
margin: auto;
padding: 30px;
}
a{
text-decoration: none;
}

#btn{
width:20%;
display:block
}
#btn>button{

margin-top: 10px;

background-color: #DBE7EF;
border: none;
padding: 6px 18px;
font-size: 18px;
}

#btn>button:hover{

border: 1px solid blue;
}

#box{
width: 80%;
margin-left: 20px;
display: grid;
grid-template-columns: repeat(3,1fr);
gap:10px;
}
#box img{
width: 100%;
}
#heading{
width: 90%;
display: flex;
margin: auto;
justify-content: space-between;

}
#heading>a{
margin-top: 20px;

}
hr{
width: 90%;
}
#explore{
width: 90%;
background-color: rgba(255,242,236,0.5);
margin: auto;
}
#btn>.active{
background-color: blue;
color: white;
}
/* 
*************** CREATOR CORNER**************** */
.corner{
width:90%;
margin:auto;
}
.corner>div:first-child{
height:60px;
padding-left:20px
}
.corner>div{
display:grid;
grid-template-columns: repeat(2,1fr);
grid-template-rows: repeat(2,1fr);
gap:70px;
box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
justify-content: center;
width:100%;
}
.corner>div>div{
box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(70, 88, 116, 0.9) 0px 0px 0px 1px;
height:auto;
display:grid;
grid-template-columns:35% 57%;
padding:15px;
gap:30px;

}
.corner>div>div>div:first-child {
display:flex;
align-items:center;

}
.corner>div>div>div>img{
width:86%;
align-items: center;
}

/* more to explore */
.scroll_img{
width:90%;
margin:auto;
}

.scroll_img>div{
border:0px solid;
display:flex;
flex-wrap:wrap;
height:auto;
margin:auto;
padding:30px;
justify-content:space-between;
}
.scroll_img>div>div {
border:0px solid;
width:22%;
box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
padding:7px;
}
.scroll_img>div>div>p{
font-size: 20px;
}
.scroll_img>div>div>img{
width:100%;
height:250px;
}
.creator{
width:100%;
height:330px;
display:flex;
justify-content: space-around;
margin-bottom: 45px;
}
.creator>div{
width:45%;
box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.creator>div img{
width:100%;
height: 45%;
}


