   /* top heading css */

   #bring{
    font-size: 35px;
    text-align: center;
    margin-top: 35px;
    margin-bottom: 40px;
  }
  #On{
    text-align: center;
    font-size: 16px;
  }


  /* 3 divs digit css */


  #digit{
    display: flex;
 position: relative;
 top: 20px;
    width: 90%;
    height: 120px;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  #digit1{
    border: thin solid #e8e8e8FF;
    width: 33.5%;
    border-right: none;
  }
  #digit1>p{
        text-align: center;
        
        font-size: 35px;
        color: rgb(9, 140, 120);
  }
  #digit2>p{
        text-align: center;
        font-size: 35px;
        color: rgb(9, 140, 120);
  }
  #digit3>p{
        text-align: center;
        font-size: 35px;
        color: rgb(9, 140, 120);
  }
  #digit2{
    border: thin solid #e8e8e8FF;
    width: 33.5%;
    border-right: none;
   
  }
  #digit3{
    border: thin solid #e8e8e8FF;
width: 33.5%;
  }
  #digit1>#project{
    font-size: 16px;
    position: relative;
    bottom: 20px;
    color: rgb(120, 106, 106);
  }
  #digit2>#project{
    font-size: 16px;
    position: relative;
    bottom: 20px;
    color: rgb(120, 106, 106);
  }
  #digit3>#project{
    font-size: 16px;
    position: relative;
    bottom: 20px;
    color: rgb(120, 106, 106);
  }


  /* FEATURE PROJECT AND DIVS AND PAGINATION CSS */
