
/* *{padding: 0%;
    margin: 0%;
} */

/* Navbar */

#uprnav{
    display: flex;
    border-bottom: 0.05px solid;
 border-bottom-color :  rgb(227, 223, 223);
 border-width: thin;
    width: 100%;
    height: 60px;
    margin:auto;

}
#uprnav1{
    display: flex;
    border-bottom: 0.05px solid;
 border-bottom-color :  rgb(227, 223, 223);
 border-width: thin;
    width: 100%;
    height: 60px;
    align-items: center;
    margin:auto;
    /* justify-content: space-between; */
}
#art{
margin-left: 38px;
position: relative;
left: 210px;
font-size: 17px;
font: weight 4px;
font-size:  inherit; 
font-weight:  inherit; 
font-family: Arial, Helvetica, sans-serif;
/* color: rgb(56, 48, 48); */
}
#art::after{
    content: "" ;
    position: absolute;
     background-color: rgb(93, 84, 84);
    height: 2px;
    width: 0;
     bottom: -4px;
    left:50%;
    transition: 0.5s;
}
#art:hover::after{
    left: 0;
     width: 100%;
}


p{
    font: weight 4px;
    font-style:normal;
    font-size:  inherit; 
    font-weight:  inherit; 
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
    margin-top: 20px;
    font-size: 13px;
    color: rgb(56, 48, 48);

}
a{
    color: rgb(128, 121, 121);
    text-decoration: none;
}
#dis:hover{
    color: rgb(9, 140, 120);
}
#search:hover{
    color: rgb(9, 140, 120);
}
#login:hover{
    color: rgb(9, 140, 120);
}
#start:hover{
    color: rgb(9, 140, 120);
}
#dis{
  margin-left: 20px;
    
}
#mimg{
    width: 200px;
    height: 50px;
     /* border: 1px solid black;  */
  margin-left: 410px;
} 

  #mlogo{
    width: 100%;
  height: 40%; 
  position: relative;
  bottom: -18px;
} 

#search{
    margin-left: 420px;
}
/* #search_logo:hover{
    color: rgb(9, 140, 120);
    background-color: rgb(9, 140, 120);
    border-color: rgb(9, 140, 120);
} */
#search_logo{
    /* margin-left: 8px;
    margin-top: 22px;
    background-color: aliceblue; */
    /* border: 1px solid black; */
    height: 25px;
    width: 26px;
    /* border: 1px solid black; */
    position: relative;
    bottom: -2px;
    left: 10px;
}

#login{
    margin-left: 40px;
}



      a,a:hover{
    text-decoration: none;
   }
   .SearchBox{
    width: 0px;
      height: 0px;
    position: relative;
    width: 0px;

    left: 1200px;
   }
   .searchtext{
  border: 1px solid black;
    width: 0%;
    height: 0%;
    border: 0px;
    outline: none;
    /* transition: 0.5s; */
    font-size: 20px;
    
   }
   .searchbtn{
    /* border: 1px solid black; */
    /* background-color: blue; */
    color: black;
    height: 10px;
    width: 10px;
    right: -35px;
position: absolute;
top: -107px;

   }
 
   .SearchBox:hover>.searchtext{
      width: 90rem;
      height: 65px;
      /* border: 1px solid black; */
      position: relative;
      right: 1200px;
      bottom: 125px;
      padding-left: 50px;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
      /* box-shadow: 0 2rem --1.5rem rgba(0, 0, 0,0.5); */
   }
   
   /* #bodyi{
  width: 80rem;
  height: 25rem;
  border: 1px solid black;
   }
  #bodyimg{
    width: 100rem;
    height:80rem;
    transform: rotateY(200deg);
    position: relative;
    /* top: 168rem;
    left: 20rem;  */
   /* }  */






  
